<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aaa.hjd.mapper.RoleMapper">
  <resultMap id="BaseResultMap" type="com.aaa.hjd.model.Role">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ROLE_ID" jdbcType="BIGINT" property="roleId" />
    <result column="ROLE_NAME" jdbcType="VARCHAR" property="roleName" />
    <result column="REMARK" jdbcType="VARCHAR" property="remark" />
    <result column="CREATE_TIME" jdbcType="VARCHAR" property="createTime" />
    <result column="MODIFY_TIME" jdbcType="VARCHAR" property="modifyTime" />
  </resultMap>

  <select id="selectByNameOrTime" parameterType="com.aaa.hjd.vo.RoleSelecter" resultType="com.aaa.hjd.model.Role">
        select * FROM t_role WHERE
        <if test="roleName != null">
          ROLE_NAME LIKE '%${roleName}%'
        </if>

        <if test="startTime != null">
            <if test="endTime != null">

              <if test="roleName != null">
                and
              </if>
              unix_timestamp(CREATE_TIME) BETWEEN unix_timestamp(#{startTime}) and unix_timestamp(#{endTime})
            </if>
        </if>


  </select>
</mapper>