<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aaa.hjd.mapper.TDictMapper">

    <resultMap type="com.aaa.hjd.model.TDict" id="TDictMap">
        <result property="dictId" column="DICT_ID" jdbcType="INTEGER"/>
        <result property="keyy" column="KEYY" jdbcType="INTEGER"/>
        <result property="valuee" column="VALUEE" jdbcType="VARCHAR"/>
        <result property="fieldName" column="FIELD_NAME" jdbcType="VARCHAR"/>
        <result property="tableName" column="TABLE_NAME" jdbcType="VARCHAR"/>
    </resultMap>

    <delete id="deleteBatchById" parameterType="list">
        delete from t_dict where DICT_ID in
        <foreach collection="list" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>
</mapper>