<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aaa.hjd.mapper.TMappingProjectMapper">

    <resultMap type="com.aaa.hjd.model.TMappingProject" id="TMappingProjectMap">
        <result property="id" column="id" jdbcType="OTHER"/>
        <result property="projectType" column="project_type" jdbcType="VARCHAR"/>
        <result property="projectName" column="project_name" jdbcType="VARCHAR"/>
        <result property="projectAmount" column="project_amount" jdbcType="OTHER"/>
        <result property="projectLeader" column="project_leader" jdbcType="VARCHAR"/>
        <result property="startDate" column="start_date" jdbcType="OTHER"/>
        <result property="endDate" column="end_date" jdbcType="OTHER"/>
        <result property="completeTime" column="complete_time" jdbcType="VARCHAR"/>
        <result property="acceptanceDepartment" column="acceptance_department" jdbcType="VARCHAR"/>
        <result property="acceptanceReport" column="acceptance_report" jdbcType="VARCHAR"/>
        <result property="taskSource" column="task_source" jdbcType="VARCHAR"/>
        <result property="projectArea" column="project_area" jdbcType="OTHER"/>
        <result property="scale" column="scale" jdbcType="VARCHAR"/>
        <result property="sheetNumber" column="sheet_number" jdbcType="VARCHAR"/>
        <result property="awardsDepartment" column="awards_department" jdbcType="VARCHAR"/>
        <result property="prizeLevel" column="prize_level" jdbcType="VARCHAR"/>
        <result property="projectQualityApproval" column="project_quality_approval" jdbcType="VARCHAR"/>
        <result property="winningTime" column="winning_time" jdbcType="OTHER"/>
        <result property="acceptanceTime" column="acceptance_time" jdbcType="OTHER"/>
        <result property="basicContent" column="basic_content" jdbcType="VARCHAR"/>
        <result property="creditStatus" column="credit_status" jdbcType="VARCHAR"/>
        <result property="submitStatus" column="submit_status" jdbcType="VARCHAR"/>
        <result property="userId" column="user_id" jdbcType="INTEGER"/>
        <result property="schedule" column="schedule" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" jdbcType="OTHER"/>
        <result property="modifyTime" column="modify_time" jdbcType="OTHER"/>
        <result property="memo" column="memo" jdbcType="VARCHAR"/>
        <result property="status" column="status" jdbcType="INTEGER"/>
        <result property="auditStatus" column="audit_status" jdbcType="INTEGER"/>
        <result property="resultsStatus" column="results_status" jdbcType="INTEGER"/>
        <result property="coordinate" column="coordinate" jdbcType="OTHER"/>
        <result property="meridian" column="meridian" jdbcType="VARCHAR"/>
        <result property="coordinateSystem" column="coordinate_system" jdbcType="VARCHAR"/>
        <result property="managementLevel" column="management_level" jdbcType="VARCHAR"/>
        <result property="fundingSource" column="funding_source" jdbcType="VARCHAR"/>
        <result property="entrustUnit" column="entrust_unit" jdbcType="VARCHAR"/>
        <result property="acceptUnit" column="accept_unit" jdbcType="VARCHAR"/>
        <result property="mobilePhone" column="mobile_phone" jdbcType="VARCHAR"/>
        <result property="phone" column="phone" jdbcType="VARCHAR"/>
        <result property="address" column="address" jdbcType="VARCHAR"/>
        <result property="centerPoint" column="center_point" jdbcType="VARCHAR"/>
        <result property="synchronizationStatus" column="synchronization_status" jdbcType="INTEGER"/>
        <result property="contractTime" column="contract_time" jdbcType="TIMESTAMP"/>
    </resultMap>

</mapper>