<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aaa.hjd.mapper.TResourceMapper">

    <resultMap type="com.aaa.hjd.model.Resource" id="TResourceMap">
        <result property="id" column="id" jdbcType="OTHER"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="size" column="size" jdbcType="INTEGER"/>
        <result property="path" column="path" jdbcType="VARCHAR"/>
        <result property="type" column="type" jdbcType="VARCHAR"/>
        <result property="extName" column="ext_name" jdbcType="VARCHAR"/>
        <result property="refBizType" column="ref_biz_type" jdbcType="VARCHAR"/>
        <result property="refBizId" column="ref_biz_id" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" jdbcType="OTHER"/>
        <result property="modifyTime" column="modify_time" jdbcType="OTHER"/>
        <result property="memo" column="memo" jdbcType="VARCHAR"/>
    </resultMap>


</mapper>